@page "/"

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <a class="btn btn-primary" href="/izdelki">Izdelki</a>
        </div>
        <div class="col-md-4 text-center">
            <a class="btn btn-secondary" href="/dobavitelji">Dobavitelji</a>
        </div>
        <div class="col-md-4 text-center">
            <a class="btn btn-success" href="/povezave">Dobava</a>
        </div>
    </div>
</div>
